{% extends 'base.html' %}
{% load static %}
{% block title %}
Единная Зачетная Книжка
{% endblock %}
{% block content %}
    <section class="hero">
      <div
        class="hero__content"
        style="
          background: linear-gradient(134.65deg, #010851 3.4%, #ee9ae5 97.69%);
        "
      >
        <div class="hero__info">
          <h1>Что такое Единая цифровая книжка?</h1>
          <p></p>
          <div class="hero__btns">
            <button>Подать зявку</button>
            <button>О нас</button>
          </div>
        </div>
        <div class="hero__img">
          <img src="{% static './img/hero/hero-img-4.png' %}" alt="hero-img" />
        </div>
      </div>
    </section>
    <section class="security">
      <div class="container">
        <div class="security__content">
          <div class="security__img">
            <img src="{% static './img/security/img-2.png' %}" alt="" />
          </div>
          <div class="security__info">
            <h2>
              Более <span class="text-dark-blue">800 000+</span> Студентов
            </h2>
            <p>
              В единой зачетной книжки зарегистрировано более +800.000 студентов
              по всему КР
            </p>
            <button class="btn">Подать заявку</button>
          </div>
        </div>
      </div>
    </section>
    <section class="security">
      <div class="container">
        <div class="security__content">
          <div class="security__info">
            <h2>
              Безопасность <br />
              <span class="text-dark-blue"
                >Время обезопасить <br />
                себя и свои данные</span
              >
            </h2>
            <p>
              On the other hand ,we denounce with righteous indignation and
              dislike men who are so beguiled and demoralized
            </p>
            <button class="btn">Подробнее</button>
          </div>
          <div class="security__img">
            <img src="{% static './img/security/img.png' %}" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section class="info">
      <div class="container">
        <div class="info__content">
          <p>
            Мы, Центр Объединенных Технологий, рады представить вам наше новое
            цифровое приложение "Единая Цифровая Зачетная Книжка", которое
            поможет упростить и улучшить процесс ведения учетных данных.
            <br />
            <br />
            Для получения доступа к приложению необходимо заполнить анкетные
            данные. Это важный шаг, который поможет нам обеспечить безопасность
            вашей личной информации и правильно определить вашу личность. Мы
            обеспечиваем полную конфиденциальность данных и гарантируем, что
            ваша информация будет использоваться только в целях, связанных с
            функционированием приложения. Приложение "Единая цифровая зачетка"
            позволяет студентам университетов управлять своими учетными данными
            в режиме реального времени, просматривать оценки, следить за учебным
            планом и многое другое. Мы уверены, что данное приложение поможет
            вам оптимизировать процесс обучения и повысить эффективность
            учебного процесса. Мы призываем вас заполнить анкетные данные и
            получить доступ к "Единой Цифровой Зачетной Книжки". Если у вас
            возникнут какие-либо вопросы или затруднения при заполнении анкеты,
            пожалуйста, обратитесь в службу поддержки приложения. С уважением,
            Центр Объединенных Технологий
          </p>
        </div>
      </div>
    </section>
    <section class="live">
      <div class="container">
        <h2 class="title">
          Вся жизнь студента в <br />
          <span class="text-blue">приложении</span>
        </h2>
        <div class="live__content">
          <div class="live__pills">
            <div class="pill purple">Дайджест мероприятий</div>
            <div class="pill blue">Бонусы и скидки</div>
            <div class="pill green">Учебные сервисы</div>
            <div class="pill red">Личный кабинет</div>
          </div>
          <div class="live__img">
            <img src="{% static './img/live/img.png' %}" alt="" />
          </div>
          <div class="live__pills">
            <div class="pill purple">Вакансии и стажировки</div>
            <div class="pill blue">Портфолио и резюме</div>
            <div class="pill green">Карта студента</div>
            <div class="pill red">База знаний</div>
          </div>
        </div>
        <p class="live__info">
          МОБИЛЬНОЕ ПРИЛОЖЕНИЕ - ПЛАТФОРМА ИНТЕГРАЦИИИСОДЕРЖАНИ Я КЛЮЧЕВЫХ
          ФУНКЦИЙ , СЕРВИСОВИПРОГРАММ ДЛЯ СТУДЕНТОВ
        </p>
      </div>
    </section>
    <section class="every">
      <div class="every__content">
        <div class="every__box">
          <div class="every__left">
            <h2>Каждый студент и родитель могут опробовать это на себе.</h2>
            <p>
              Каждый студент, родитель и преподаватель могут опробовать это на
              себе и узнать насколько это удобно и важно.
            </p>
            <button>Подать заявку</button>
          </div>
          <div class="every__right">
            <img src="{% static './img/every/img.png' %}" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section class="offer">
      <div class="offer__content">
        <div class="offer__left">
          <img src="{% static './img/offer/img.png' %}" alt="" />
        </div>
        <div class="offer__right">
          <form action="{% url 'send_application' %}" method="post">
          <h2>Подать заявку</h2>
          <div class="offer__fix">
            <div class="offer__item">
              <p>Введите ваше имя</p>
              <label class="offer__input">
                {{ form.first_name }}{% csrf_token %}
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.1796 9.02065C10.1032 9.01301 10.0116 9.01301 9.92755 9.02065C8.10965 8.95954 6.66602 7.47008 6.66602 5.6369C6.66602 3.76553 8.17839 2.24551 10.0574 2.24551C11.9288 2.24551 13.4488 3.76553 13.4488 5.6369C13.4412 7.47008 11.9975 8.95954 10.1796 9.02065Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.35998 11.8392C4.51152 13.0766 4.51152 15.0931 6.35998 16.3228C8.4605 17.7282 11.9054 17.7282 14.0059 16.3228C15.8543 15.0854 15.8543 13.0689 14.0059 11.8392C11.913 10.4414 8.46814 10.4414 6.35998 11.8392Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </label>
            </div>
            <div class="offer__item">
              <p>Введите ваше фамилию</p>
              <label class="offer__input">
                {{ form.last_name }}
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.1796 9.02065C10.1032 9.01301 10.0116 9.01301 9.92755 9.02065C8.10965 8.95954 6.66602 7.47008 6.66602 5.6369C6.66602 3.76553 8.17839 2.24551 10.0574 2.24551C11.9288 2.24551 13.4488 3.76553 13.4488 5.6369C13.4412 7.47008 11.9975 8.95954 10.1796 9.02065Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.35998 11.8392C4.51152 13.0766 4.51152 15.0931 6.35998 16.3228C8.4605 17.7282 11.9054 17.7282 14.0059 16.3228C15.8543 15.0854 15.8543 13.0689 14.0059 11.8392C11.913 10.4414 8.46814 10.4414 6.35998 11.8392Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </label>
            </div>
            <div class="offer__item">
              <p>Введите ваше отчество</p>
              <label class="offer__input">
                {{ form.middle_name }}
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.1796 9.02065C10.1032 9.01301 10.0116 9.01301 9.92755 9.02065C8.10965 8.95954 6.66602 7.47008 6.66602 5.6369C6.66602 3.76553 8.17839 2.24551 10.0574 2.24551C11.9288 2.24551 13.4488 3.76553 13.4488 5.6369C13.4412 7.47008 11.9975 8.95954 10.1796 9.02065Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.35998 11.8392C4.51152 13.0766 4.51152 15.0931 6.35998 16.3228C8.4605 17.7282 11.9054 17.7282 14.0059 16.3228C15.8543 15.0854 15.8543 13.0689 14.0059 11.8392C11.913 10.4414 8.46814 10.4414 6.35998 11.8392Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </label>
            </div>
            <div class="offer__item">
              <p>Дата рождения</p>
              <label class="offer__input">
                {{ form.age }}
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.1796 9.02065C10.1032 9.01301 10.0116 9.01301 9.92755 9.02065C8.10965 8.95954 6.66602 7.47008 6.66602 5.6369C6.66602 3.76553 8.17839 2.24551 10.0574 2.24551C11.9288 2.24551 13.4488 3.76553 13.4488 5.6369C13.4412 7.47008 11.9975 8.95954 10.1796 9.02065Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.35998 11.8392C4.51152 13.0766 4.51152 15.0931 6.35998 16.3228C8.4605 17.7282 11.9054 17.7282 14.0059 16.3228C15.8543 15.0854 15.8543 13.0689 14.0059 11.8392C11.913 10.4414 8.46814 10.4414 6.35998 11.8392Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </label>
            </div>
            <div class="offer__item">
              <p>Адрес по прописке</p>
              <label class="offer__input">
                {{ form.address }}
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.1796 9.02065C10.1032 9.01301 10.0116 9.01301 9.92755 9.02065C8.10965 8.95954 6.66602 7.47008 6.66602 5.6369C6.66602 3.76553 8.17839 2.24551 10.0574 2.24551C11.9288 2.24551 13.4488 3.76553 13.4488 5.6369C13.4412 7.47008 11.9975 8.95954 10.1796 9.02065Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.35998 11.8392C4.51152 13.0766 4.51152 15.0931 6.35998 16.3228C8.4605 17.7282 11.9054 17.7282 14.0059 16.3228C15.8543 15.0854 15.8543 13.0689 14.0059 11.8392C11.913 10.4414 8.46814 10.4414 6.35998 11.8392Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </label>
            </div>
            <div class="offer__item">
              <p>Фактический адрес</p>
              <label class="offer__input">
                {{ form.real_address }}
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.1796 9.02065C10.1032 9.01301 10.0116 9.01301 9.92755 9.02065C8.10965 8.95954 6.66602 7.47008 6.66602 5.6369C6.66602 3.76553 8.17839 2.24551 10.0574 2.24551C11.9288 2.24551 13.4488 3.76553 13.4488 5.6369C13.4412 7.47008 11.9975 8.95954 10.1796 9.02065Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.35998 11.8392C4.51152 13.0766 4.51152 15.0931 6.35998 16.3228C8.4605 17.7282 11.9054 17.7282 14.0059 16.3228C15.8543 15.0854 15.8543 13.0689 14.0059 11.8392C11.913 10.4414 8.46814 10.4414 6.35998 11.8392Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </label>
            </div>
            <div class="offer__item">
              <p>В каком колледже, техникуме лицее вы учитесь?</p>
              <label class="offer__input">
                {{ form.education }}
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.1796 9.02065C10.1032 9.01301 10.0116 9.01301 9.92755 9.02065C8.10965 8.95954 6.66602 7.47008 6.66602 5.6369C6.66602 3.76553 8.17839 2.24551 10.0574 2.24551C11.9288 2.24551 13.4488 3.76553 13.4488 5.6369C13.4412 7.47008 11.9975 8.95954 10.1796 9.02065Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.35998 11.8392C4.51152 13.0766 4.51152 15.0931 6.35998 16.3228C8.4605 17.7282 11.9054 17.7282 14.0059 16.3228C15.8543 15.0854 15.8543 13.0689 14.0059 11.8392C11.913 10.4414 8.46814 10.4414 6.35998 11.8392Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </label>
            </div>
            <div class="offer__item">
              <p>На каком вы курсе?</p>
              <label class="offer__input">
                {{ form.course }}
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.1796 9.02065C10.1032 9.01301 10.0116 9.01301 9.92755 9.02065C8.10965 8.95954 6.66602 7.47008 6.66602 5.6369C6.66602 3.76553 8.17839 2.24551 10.0574 2.24551C11.9288 2.24551 13.4488 3.76553 13.4488 5.6369C13.4412 7.47008 11.9975 8.95954 10.1796 9.02065Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.35998 11.8392C4.51152 13.0766 4.51152 15.0931 6.35998 16.3228C8.4605 17.7282 11.9054 17.7282 14.0059 16.3228C15.8543 15.0854 15.8543 13.0689 14.0059 11.8392C11.913 10.4414 8.46814 10.4414 6.35998 11.8392Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </label>
            </div>
            <div class="offer__item">
              <p>Cпециальность</p>
              <label class="offer__input">
                {{ form.speciality }}
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.1796 9.02065C10.1032 9.01301 10.0116 9.01301 9.92755 9.02065C8.10965 8.95954 6.66602 7.47008 6.66602 5.6369C6.66602 3.76553 8.17839 2.24551 10.0574 2.24551C11.9288 2.24551 13.4488 3.76553 13.4488 5.6369C13.4412 7.47008 11.9975 8.95954 10.1796 9.02065Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.35998 11.8392C4.51152 13.0766 4.51152 15.0931 6.35998 16.3228C8.4605 17.7282 11.9054 17.7282 14.0059 16.3228C15.8543 15.0854 15.8543 13.0689 14.0059 11.8392C11.913 10.4414 8.46814 10.4414 6.35998 11.8392Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </label>
            </div>
            <div class="offer__item">
              <p>Контакты отца</p>
              <label class="offer__input">
                {{ form.contact_dad }}
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.1796 9.02065C10.1032 9.01301 10.0116 9.01301 9.92755 9.02065C8.10965 8.95954 6.66602 7.47008 6.66602 5.6369C6.66602 3.76553 8.17839 2.24551 10.0574 2.24551C11.9288 2.24551 13.4488 3.76553 13.4488 5.6369C13.4412 7.47008 11.9975 8.95954 10.1796 9.02065Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.35998 11.8392C4.51152 13.0766 4.51152 15.0931 6.35998 16.3228C8.4605 17.7282 11.9054 17.7282 14.0059 16.3228C15.8543 15.0854 15.8543 13.0689 14.0059 11.8392C11.913 10.4414 8.46814 10.4414 6.35998 11.8392Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </label>
            </div>
            <div class="offer__item">
              <p>Контакты матери</p>
              <label class="offer__input">
                {{ form.contact_mam }}
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.1796 9.02065C10.1032 9.01301 10.0116 9.01301 9.92755 9.02065C8.10965 8.95954 6.66602 7.47008 6.66602 5.6369C6.66602 3.76553 8.17839 2.24551 10.0574 2.24551C11.9288 2.24551 13.4488 3.76553 13.4488 5.6369C13.4412 7.47008 11.9975 8.95954 10.1796 9.02065Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.35998 11.8392C4.51152 13.0766 4.51152 15.0931 6.35998 16.3228C8.4605 17.7282 11.9054 17.7282 14.0059 16.3228C15.8543 15.0854 15.8543 13.0689 14.0059 11.8392C11.913 10.4414 8.46814 10.4414 6.35998 11.8392Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </label>
            </div>
            <div class="offer__item">
              <p>Коментарий</p>
              <label class="offer__input">
                {{ form.comment }}
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.1796 9.02065C10.1032 9.01301 10.0116 9.01301 9.92755 9.02065C8.10965 8.95954 6.66602 7.47008 6.66602 5.6369C6.66602 3.76553 8.17839 2.24551 10.0574 2.24551C11.9288 2.24551 13.4488 3.76553 13.4488 5.6369C13.4412 7.47008 11.9975 8.95954 10.1796 9.02065Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.35998 11.8392C4.51152 13.0766 4.51152 15.0931 6.35998 16.3228C8.4605 17.7282 11.9054 17.7282 14.0059 16.3228C15.8543 15.0854 15.8543 13.0689 14.0059 11.8392C11.913 10.4414 8.46814 10.4414 6.35998 11.8392Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </label>
            </div>
            <div class="offer__item">
              <p>Контакты </p>
              <label class="offer__input">
                {{ form.contact }}
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.1796 9.02065C10.1032 9.01301 10.0116 9.01301 9.92755 9.02065C8.10965 8.95954 6.66602 7.47008 6.66602 5.6369C6.66602 3.76553 8.17839 2.24551 10.0574 2.24551C11.9288 2.24551 13.4488 3.76553 13.4488 5.6369C13.4412 7.47008 11.9975 8.95954 10.1796 9.02065Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.35998 11.8392C4.51152 13.0766 4.51152 15.0931 6.35998 16.3228C8.4605 17.7282 11.9054 17.7282 14.0059 16.3228C15.8543 15.0854 15.8543 13.0689 14.0059 11.8392C11.913 10.4414 8.46814 10.4414 6.35998 11.8392Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </label>
            </div>
            <div class="offer__item">
              <p>Почта</p>
              <label class="offer__input">
                {{ form.email }}
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.1796 9.02065C10.1032 9.01301 10.0116 9.01301 9.92755 9.02065C8.10965 8.95954 6.66602 7.47008 6.66602 5.6369C6.66602 3.76553 8.17839 2.24551 10.0574 2.24551C11.9288 2.24551 13.4488 3.76553 13.4488 5.6369C13.4412 7.47008 11.9975 8.95954 10.1796 9.02065Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.35998 11.8392C4.51152 13.0766 4.51152 15.0931 6.35998 16.3228C8.4605 17.7282 11.9054 17.7282 14.0059 16.3228C15.8543 15.0854 15.8543 13.0689 14.0059 11.8392C11.913 10.4414 8.46814 10.4414 6.35998 11.8392Z"
                    stroke="#AAAAAA"
                    stroke-width="1.07834"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </label>
            </div>
          </div>
          <h4>{{ form.errors }}</h4>
          <button>Подать заявку</button>
          </form>
        </div>
      </div>
    </section>

{% endblock %}