{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="hero">
        <div class="container">
            <div class="hero__content">
                <div class="hero__box">
                    <img class="hero__main" src="{% static './components/img/hero/background.png' %}" alt="">
                    <div class="hero__right">
                        <h1 class="hero__title">Что такое Единая цифровая книжка?</h1>
                        <p class="hero__description">Приложение ЕДИНАЯ ЦИФРОВАЯ ЗАЧЕТНАЯ КНИЖКА это доступ в режиме
                            онлайн к любой учебной информации, предоставленный преподавателям, родителям и
                            студентам.</p>
                        <div class="hero__block">
                            <button class="hero__btn"><a class="hero__a" href="">Подать зявку</a></button>
                            <button class="hero__btn__second"> <a class="hero__a__second" href="">О нас</a></button>
                        </div>

                    </div>
                    <div class="hero__left">
                        <img class="hero__man" src="{% static './components/img/hero/img.png' %}" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="advantages">
        <div class="container">
            <div class="advantages__content">
                <div class="advantages__text">
                    <h1 class="advantages__title">Преимущества</h1>
                    <p class="advantages__description">On the other hand ,we denounce with righteous indignation and
                        dislike men who are so beguiled and demoralized
                    </p>

                </div>
                <div class="advantages__block">
                    <div class="advantages__item">
                        <img class="advantages__img" src="{% static './components/img/advantages/advantages__img.png' %}" alt="" />
                        <p class="advantages__info">Convenient study
                            schedule</p>
                    </div>
                    <div class="advantages__item">
                        <img class="advantages__img__second" src="{% static './components/img/advantages/advantages__img2.png' %}"
                            alt="" />
                        <p class="advantages__info__second">Checked
                            homework
                            by teachers</p>
                    </div>
                    <div class="advantages__item">
                        <img class="advantages__img__three" src="{% static './components/img/advantages/advantages__img3.png' %}"
                            alt="" />
                        <p class="advantages__info__three">Modern
                            internet
                            platform</p>
                    </div>
                    <div class="advantages__item">
                        <img class="advantages__img__three" src="{% static './components/img/advantages/advantages__img3.png' %}"
                            alt="" />
                        <p class="advantages__info__three">Modern
                            internet
                            platform</p>
                    </div>
                </div>
            </div>
            <div class="advantages__video">
                <a href="#"><img class="advantages__play" src="{% static './icon/advantages/play.svg' %}" alt="" /></a>
            </div>
        </div>
    </section>

    <section class="news">
        <div class="container">
            <div class="news__content">
                <div class="news__box">
                    <div class="news__block">
                        <h1 class="news__title">
                            <span class="news__span">Безопасность</span>
                            Время обезопасить себя и свои данные
                        </h1>
                        <p class="news__description">On the other hand ,we denounce with righteous indignation and
                            dislike
                            men who are so beguiled and demoralized
                        </p>
                        <a class="news__a" href=""><button class="news__btn">Подробнее</button></a>
                    </div>
                    <img src="{% static './components/img/news/Rectangle 18.png' %}" alt="">
                </div>
                <div class="news__info">
                    <h1 class="news__text">Новости</h1>
                    <div class="news__flex">
                        <div class="news__item">
                            <img src="{% static './components/img/news/news__img.png' %}" alt="">
                            <h1 class="news__information">Sed sem vulputate habitant
                                Sed sem vulputate habitant</h1>
                            <p class="news__more">Elementum, sed viverra volutpat nam lacus egestas. Scelerisque quisque
                                egestas maecenas fermentum semper auctor massa tincidunt. Tristique pulvinar commodo
                                fermentum neque. Elementum tortor.</p>
                            <button class="news__button"><a class="news__a" href="#">Подробнее</a></button>
                        </div>
                        <div class="news__item">
                            <img src="{% static './components/img/news/news__img2.png' %}" alt="">
                            <h1 class="news__information">Sed sem vulputate habitant
                                Sed sem vulputate habitant</h1>
                            <p class="news__more">Elementum, sed viverra volutpat nam lacus egestas. Scelerisque quisque
                                egestas maecenas fermentum semper auctor massa tincidunt. Tristique pulvinar commodo
                                fermentum neque. Elementum tortor.</p>
                            <button class="news__button"><a class="news__a" href="#">Подробнее</a></button>
                        </div>
                        <div class="news__item">
                            <img src="{% static './components/img/news/news__img3.png' %}" alt="">
                            <h1 class="news__information">Sed sem vulputate habitant
                                Sed sem vulputate habitant</h1>
                            <p class="news__more">Elementum, sed viverra volutpat nam lacus egestas. Scelerisque quisque
                                egestas maecenas fermentum semper auctor massa tincidunt. Tristique pulvinar commodo
                                fermentum neque. Elementum tortor.</p>
                            <button class="news__button"><a class="news__a" href="#">Подробнее</a></button>
                        </div>
                    </div>
                </div>
                <div class="news__student">
                    <img src="{% static './components/img/news/news__img4.png' %}" alt="">
                    <div class="news__fix">
                        <h1 class="news__people">Более <span class="news__color">800 000+</span>
                            Студентов</h1>
                        <p class="news__registered">В единой зачетной книжки зарегистрировано более +800.000 студентов
                            по
                            всему КР</p>

                        <button class="news__buttons"><a class="news__a" href="#">Подать заявку</a> </button>
                    </div>
                </div>
                <div class="news__phone">
                    <img src="{% static './components/img/news/news__phone.png' %}" alt="" />
                    <div class="news__fixed">
                        <h1 class="news__programm">Приложение ЕДИНАЯ ЦИФРОВАЯ ЗАЧЕТНАЯ КНИЖКА это доступ в режиме онлайн
                            к
                            любой учебной информации, предоставленный преподавателям, родителям и студентам.</h1>
                        <h2 class="news__programm__second">Мы предлагаем интегрировать цифровую систему в образование,
                            благодаря чему будет реализовано информирование по всем учебным процессам, университетской
                            жизни
                            студента, изменениями расписания и ведомость в режиме онлайн.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="live">
        <div class="container">
            <div class="live__content">
                <h1 class="live__title">Вся жизнь студента в <span class="live__span">приложении</span></h1>
                <div class="live__box">
                    <ul class="live__ul">
                        <li class="live__li">Дайджест мероприятий</li>
                        <li class="live__li__two">Бонусы и скидки</li>
                        <li class="live__li__three">Учебные сервисы</li>
                        <li class="live__li__four">Личный кабинет</li>
                    </ul>
                    <img src="{% static './components/img/live/live__phone.png' %}" alt="" />
                    <ul class="live__ul__second">
                        <li class="live__li__five">Вакансии и стажировки</li>
                        <li class="live__li__six">Портфолио и резюме</li>
                        <li class="live__li__seven">Карта студента</li>
                        <li class="live__li__eight">База знаний</li>
                    </ul>
                </div>
                <p class="live__description">МОБИЛЬНОЕ ПРИЛОЖЕНИЕ - ПЛАТФОРМА ИНТЕГРАЦИИИСОДЕРЖАНИ Я КЛЮЧЕВЫХ ФУНКЦИЙ ,
                    СЕРВИСОВИПРОГРАММ ДЛЯ СТУДЕНТОВ</p>
                <div class="live__block">
                    <img src="{% static './components/img/live/live__phone2.png' %}" alt="">
                    <ul class="live__info">
                        <li class="live__inf">Мероприятия в твоем телефоне</li>
                        <li class="live__inf">Участвуй и повышай свой уровень</li>
                        <li class="live__inf">Новый уровень - новый бонус</li>
                        <li class="live__inf">Твой опыт резюмируется для карьеры</li>
                    </ul>
                </div>
                <div class="live__img">
                    <div class="live__item">
                        <h1 class="live__text">Проблема карьерного <span class="live__span">самоопределения</span> </h1>
                        <p class="live__crush">Cталкиваются ≈27% студентов</p>
                    </div>
                    <img src="{% static './components/img/live/live__img3.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="we">
        <div class="container">
            <div class="we__content">
                <h1 class="we__title">Как мы это видим</h1>
                <div class="we__block">
                    <ul class="we__ul">
                        <li class="we__li">1.Студент принимает участие в мероприятиях</li>
                        <li class="we__li">3.Алгоритм предлагает персонализированную подборку вакансий</li>
                        <li class="we__li">5.Для повышения квалификация платформа предлагает актуальные стажировки</li>
                    </ul>
                    <ul class="we__ul__second">
                        <li class="we__li__second">2.Система формирует сетку навыков</li>
                        <li class="we__li__second">4.Платформа помогает создать резюме под конкретную должность</li>
                        <li class="we__li__third">6.Студент-активист получает гораздо больше шансов быть приглашенным на
                            собеседование</li>
                    </ul>
                </div>
                <h1 class="we__problem">Проблема родительского контроля </h1>
                <div class="we__item">
                    <img src="{% static './components/img/we/we__img.png' %}" alt="">
                    <ul class="we__ul__third">
                        <li class="we__li__four">Уведомления о пропуске занятий</li>
                        <li class="we__li__five">Достижения и выговоры студентов</li>
                        <li class="we__li__six">Успеваемость онлайн</li>
                    </ul>
                </div>
                <p class="we__dop">Электронная цифровая книга позволяет родителям держать руку на пульсе и быть в курсе
                    успеваемости своих детей, их достижений, оплаты за обучение</p>
            </div>
        </div>
    </section>

    <section class="problem">
        <div class="container">
            <div class="problem__content">
                <h1 class="problem__title">
                    Проблема систематизации и
                    <span class="problem__span"> упрощения учебных процессов</span>
                </h1>
                <div class="problem__box">
                    <img class="problem__fixed" src="{% static './components/img/problem/problem__img.png' %}" alt="">
                    <ul class="problem__ul">
                        <li class="problem__li">Видимость в режиме онлайн</li>
                        <li class="problem__li">Изменения в расписании</li>
                        <li class="problem__li__second">Упрощение работы на всех уроках</li>
                    </ul>
                </div>
                <div class="problem__chart">
                    <img class="problem__fixed" src="{% static './components/img/problem/problem__img2.png' %}" alt="">
                </div>
                <div class="problem__fix">
                    <div class="problem__item">
                        <img class="problem__bg" src="{% static './components/img/problem/problem__background.png' %}" alt="">
                        <h1 class="problem__text">Каждый студент и родитель могут опробовать это на себе.</h1>
                        <p class="problem__description">Каждый студент, родитель и преподаватель могут опробовать это на
                            себе и узнать насколько это удобно и важно.</p>
                        <button class="problem__btn">Подать заявку</button>
                    </div>
                    <img class="problem__fixed" src="{% static './components/img/problem/problem__arm.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="form">
        <div class="container">
            <div class="form__content">
                <div class="form__right">
                    <img src="{% static './components/img/general/time.png' %}" alt="">
                </div>
                <div class="form__left">
                    <h1 class="form__title">Подать заявку</h1>
                    <div class="form__fix">
                        <div class="form__item">
                            <p class="form__info">ФИО</p>
                            <label class="form__label">
                                <input type="text" placeholder="Введите ваше имя фамилия">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.1794 9.02025C10.103 9.01261 10.0113 9.01261 9.92731 9.02025C8.1094 8.95915 6.66577 7.46969 6.66577 5.6365C6.66577 3.76513 8.17815 2.24512 10.0572 2.24512C11.9285 2.24512 13.4485 3.76513 13.4485 5.6365C13.4409 7.46969 11.9973 8.95915 10.1794 9.02025Z"
                                        stroke="#AAAAAA" stroke-width="1.07834" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M6.36022 11.8394C4.51176 13.0768 4.51176 15.0933 6.36022 16.323C8.46074 17.7285 11.9056 17.7285 14.0061 16.323C15.8546 15.0856 15.8546 13.0691 14.0061 11.8394C11.9132 10.4416 8.46838 10.4416 6.36022 11.8394Z"
                                        stroke="#AAAAAA" stroke-width="1.07834" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>

                            </label>
                        </div>
                        <div class="form__item">
                            <p class="form__info">Адрес по прописке</p>
                            <label class="form__label">
                                <input type="text" placeholder="Введите ваш адрес по прописке">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.1794 9.02025C10.103 9.01261 10.0113 9.01261 9.92731 9.02025C8.1094 8.95915 6.66577 7.46969 6.66577 5.6365C6.66577 3.76513 8.17815 2.24512 10.0572 2.24512C11.9285 2.24512 13.4485 3.76513 13.4485 5.6365C13.4409 7.46969 11.9973 8.95915 10.1794 9.02025Z"
                                        stroke="#AAAAAA" stroke-width="1.07834" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M6.36022 11.8394C4.51176 13.0768 4.51176 15.0933 6.36022 16.323C8.46074 17.7285 11.9056 17.7285 14.0061 16.323C15.8546 15.0856 15.8546 13.0691 14.0061 11.8394C11.9132 10.4416 8.46838 10.4416 6.36022 11.8394Z"
                                        stroke="#AAAAAA" stroke-width="1.07834" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </label>
                        </div>
                    </div>
                    <div class="form__fix">
                        <div class="form__item">
                            <p class="form__info">В каком колледже, техникуме, лицее учитесь?</p>
                            <label class="form__label">
                                <input type="text" placeholder="Введите ваше место учебы">
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.77698 6.53495C1.77698 3.86156 3.30463 2.71582 5.59611 2.71582H13.2344C15.5258 2.71582 17.0535 3.86156 17.0535 6.53495V11.8817C17.0535 14.5551 15.5258 15.7009 13.2344 15.7009H5.59611"
                                        stroke="#AAAAAA" stroke-width="1.07834" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M13.2344 6.91699L10.8437 8.82656C10.0569 9.45289 8.76606 9.45289 7.97932 8.82656L5.59619 6.91699"
                                        stroke="#AAAAAA" stroke-width="1.07834" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M1.77698 12.6455H6.35993" stroke="#AAAAAA" stroke-width="1.07834"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M1.77698 9.59033H4.06845" stroke="#AAAAAA" stroke-width="1.07834"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </label>
                        </div>
                        <div class="form__item">
                            <p class="form__info">Фактический адрес</p>
                            <label class="form__label">
                                <input type="text" placeholder="Введите ваш фактический адрес">
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.77698 6.53495C1.77698 3.86156 3.30463 2.71582 5.59611 2.71582H13.2344C15.5258 2.71582 17.0535 3.86156 17.0535 6.53495V11.8817C17.0535 14.5551 15.5258 15.7009 13.2344 15.7009H5.59611"
                                        stroke="#AAAAAA" stroke-width="1.07834" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M13.2344 6.91699L10.8437 8.82656C10.0569 9.45289 8.76606 9.45289 7.97932 8.82656L5.59619 6.91699"
                                        stroke="#AAAAAA" stroke-width="1.07834" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M1.77698 12.6455H6.35993" stroke="#AAAAAA" stroke-width="1.07834"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M1.77698 9.59033H4.06845" stroke="#AAAAAA" stroke-width="1.07834"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </label>
                        </div>
                    </div>
                    <div class="form__fix">
                        <div class="form__item">
                            <p class="form__info">Ваша специальность в учебном учреждении?</p>
                            <label class="form__label">
                                <input type="text" placeholder="Введите вашу специальность">
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12.1495 9.20764C12.1495 10.72 10.9274 11.9421 9.41504 11.9421C7.90266 11.9421 6.68054 10.72 6.68054 9.20764C6.68054 7.69527 7.90266 6.47314 9.41504 6.47314C10.9274 6.47314 12.1495 7.69527 12.1495 9.20764Z"
                                        stroke="#AAAAAA" stroke-width="1.07834" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M9.41495 15.5241C12.1113 15.5241 14.6242 13.9354 16.3734 11.1856C17.0608 10.1086 17.0608 8.29834 16.3734 7.22134C14.6242 4.47157 12.1113 2.88281 9.41495 2.88281C6.71865 2.88281 4.20566 4.47157 2.4565 7.22134C1.76906 8.29834 1.76906 10.1086 2.4565 11.1856C4.20566 13.9354 6.71865 15.5241 9.41495 15.5241Z"
                                        stroke="#AAAAAA" stroke-width="1.07834" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>


                            </label>
                        </div>
                        <div class="form__item">
                            <p class="form__info">Контактные телефоны родителей (обязательно)</p>
                            <label class="form__label">
                                <input type="text" placeholder="Введите контактные данные родителей">
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12.1495 9.20764C12.1495 10.72 10.9274 11.9421 9.41504 11.9421C7.90266 11.9421 6.68054 10.72 6.68054 9.20764C6.68054 7.69527 7.90266 6.47314 9.41504 6.47314C10.9274 6.47314 12.1495 7.69527 12.1495 9.20764Z"
                                        stroke="#AAAAAA" stroke-width="1.07834" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M9.41495 15.5241C12.1113 15.5241 14.6242 13.9354 16.3734 11.1856C17.0608 10.1086 17.0608 8.29834 16.3734 7.22134C14.6242 4.47157 12.1113 2.88281 9.41495 2.88281C6.71865 2.88281 4.20566 4.47157 2.4565 7.22134C1.76906 8.29834 1.76906 10.1086 2.4565 11.1856C4.20566 13.9354 6.71865 15.5241 9.41495 15.5241Z"
                                        stroke="#AAAAAA" stroke-width="1.07834" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>


                            </label>
                        </div>
                    </div>
                    <button class="form__btn">
                        Подать заявку
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}